@media (min-width: 769px) {
    .menu-container {
        height: calc(100vh - 4rem);
    }

    .main-content {
        padding-left: 20%;
    }
}

@media (max-width: 768px) {
    .menu-container {
        display: none;
        width: 100%;
    }

    :checked + .menu-container {
        display: block;
    }
}